# Core / Math
numpy
scipy
pandas
requests

# GUI / Images
pillow
opencv-python

# AI / Face Verification
insightface
onnxruntime
dlib

# Hardware / Communication
adafruit-circuitpython-pn532
adafruit-blinka
cryptography
picamera2